@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border font-light list-none p-0 m-0;
  }

  body {
    @apply text-gray-700 font-light bg-white;
  }

  a {
    @apply no-underline decoration-inherit font-inter transition ease-in-out duration-[400ms] hover:scale-105;
  }

  p {
    @apply leading-6 md:leading-8;
  }

  h3 {
    @apply font-bold;
  }

  h5 {
    @apply font-bold;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .hero-w-space {
    @apply w-44 flex-none space-y-8;
  }

  .sm-nav-links {
    @apply flex rounded-lg py-2 text-base font-normal leading-7;
  }

  .auth-form-title {
    @apply pt-32 text-2xl text-center font-bold leading-9 tracking-tight;
  }

  .auth-wrapper {
    @apply flex-center min-h-screen;
  }

  .auth-form-wrapper {
    @apply mx-auto w-full max-w-sm px-6 -mt-20;
  }

  .listing-amenities {
    @apply flex items-center gap-2 px-1 -ml-1;
  }

  .swiper-slide {
    @apply bg-white;
  }

  .swiper-slide img {
    @apply block w-full h-screen object-cover;
  }

  .listing-image-wrapper .swiper-slide img {
    @apply block w-full h-full object-cover;
  }

  .listings {
    height: calc(100vh - 128px);
  }

  @screen sm {
    .listings {
      height: calc(100vh - 181px);
    }
  }

  .hover-transition {
    @apply transition ease-in-out duration-[400ms] hover:scale-105;
  }

  .cloudinary-button {
    @apply bg-white text-gray-700 rounded-md flex items-center gap-2 !important;
  }

  .link {
    @apply flex-center gap-2 py-2 px-3 rounded-md bg-primary-500 text-white;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
